<html>
    <head>
        </head>
        
    <link rel="stylesheet" href="/login.css" />

        <body>
            <div class="row">

                <div class="column">
                   
               <img src="/cloth.png" alt="img" >
               </div>
               <div class="column">
               <h2> My Closet</h2>
               </div>
               <div class="column">
               <img src="/Recommendericon5.png" alt="img">
               </div>
           </div>

        <hr>
<h2><img src="/Recommendericon3.png" alt="img"> </h2><br>
<hr>
<div class="row">

    <div class="column">
       
   <img src="/cloth1.png" alt="img" >
   </div>
   <div class="column">
        <p>
                <label>Shirt:</label>
                <input type="checkbox" id="Color" backgroundcolor="red">
                </select>
             </p>
             <p>
                    <img src="/My Outfits2 - Default.png">
             </p>
   </div>
</div>


                <div class="footer">
                        <img src="/Recommendericon7.png">
                        <img src="/Recommender icon1.png">
                        <img src="/Recommendericon2.png">
                         </div>
                              
                    
        
        </body>
</html>