<html>
    <head>
        <title> Dress Recommender</title>
    
        <body>
           <h1> Add Cloth Or Accessories</h1> 
           <hr>
           <div>
           
           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

           <p>Add Picture Of Your Cloth Or accessories</p>

           <button class="btn"><i class="fa fa-folder"></i> Folder</button>
           <hr>

</div>


<style>
    .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: pink;
       color: white;
       text-align: center;
    }
    </style>
    
    <div class="footer">
            <p>Footer</p>
          </div>
          
        </body>
    </head>
</html>