<html>
    <head>
        <title> Dress Recommender</title>
    </head>

    <link rel="stylesheet" href="/home.css" />

    <body class="center">

            <div class="row">

                    <div class="column">
                       
                   <img src="/cloth.png" alt="img" width="10px" height="20px">
                   </div>
                   <div class="column">
                   <p>Add Cloth or Accessories</p>
                   </div>
                   <div class="column">
                   <img src="/Recommendericon5.png" alt="img">
                   </div>
               </div>
               <hr>



               <div class="row">

                    <div class="center">
                       
                   <img src="/home1.png" alt="img" >
                   </div>
               </div>

        <form>
            <hr>
        
               <p>
                  <label>Type:</label>
                  <select id = "myList">
                    <option value = "Shirt">Shirt</option>
                    <option value = "Jeans">Jeans</option>
                    <option value = "Shoes">shoes</option>
                    <option value = "Kurti">Kurti</option>
                    <option value = "belly">belly</option>
                    <option value = "jewallary">jewallary</option>



                  </select>
               </p>
               <p>
                    <label>Color:</label>
                    <input type="checkbox" id="Color" backgroundcolor="red">
                    </select>
                 </p>
                 <p>
                         <label>Weather:</label>
                        <select id = "myList">
                          <option value = "Regular"> Regular</option>
                          <option value = "Winter"> Winter</option>
                          <option value = "Rainy"> Rainy</option>
                          <option value = "Summer"> Summer</option>

                        </select>
                        
                 </p>
                 <hr>
                </form>

                 <div>    
                        <input type="button" class="button" value="Button">
                 </div>


                <br/>
                <br/>
                
                 <footer>
                        <div class="row">
                         <div class="column">
                            <a href="/recommeded">
                                <img src="/Recommendericon7.png" width="52" height="56"
                                 title="recommeded" alt="recommeded"/></a>
                            </div>
        
                        <div class="column">
                            <a href="/outfit">
                               <img src="/Recommender icon1.png" width="52" height="56"
                                title="outfit" alt="outfit"></a>
                                </div>
                           
                                    <div class="column">
                                 <a href="/home">
                                  <img src="/cloth5.png" width="52" height="56" title="home"
                                   alt="home"></a>
                                     </div>
                                   </div>
                                 </footer>
                                     </body>
                                        </html>