<html>
    <head>
        <title>
            Dress Recommender
        </title>
        <link rel="stylesheet" href="/login.css" />

    </head>
    <body class="center">
        <div>

            <%=message %>
        </div>
        <form method="post" action="auth">

                <div>
                   <label for="email">Email </label>
                   <input type="text" id="email" name="email">
                   </div>
                 <div>
                 <label for="password">Password</label>
                  <input type="password" id="password" name="password">
               </div>
                    <div>           
                    
                        <input type="submit"  class="button" value="Submit">
                   </div>
        </form>
        <a href="/signup" aria-level="signup">signup</a>
    </body>
</html>