<html>
    <head>
        </head>
        
    <link rel="stylesheet" href="/myoutfit.css" />


        <body class="center">

                <div class="row">

                        <div class="column">
                           
                       <img src="/cloth.png" alt="img">
                       </div>
                       <div class="column">
                       <p> My Outfit</p>
                       </div>
                       <div class="column">
                       <img src="/Recommendericon5.png" alt="img">
                       </div>
                   </div>

                <hr>
<h2><img src="/Recommendericon3.png" alt="img"> </h2><br>
<hr>



<div class="row">

        <div class="column">
           
       <img src="/cloth1.png" alt="img" >
       </div>
       <div class="column">
       <img src="/cloth2.png"alt="img">
       </div>
       <div class="column">
       <img src="/cloth3.png" alt="img">
       </div>

       <div class="column">
            <img src="/cloth8.png" alt="img" >
            <img src="/cloth8.png" alt="img" ><br>
            <h2> For Office</h2><br>
                <img src="/My Outfits1 - Default.png">
                <img src="/My Outfits2 - Default.png">
            </div>
        </div>





    <hr>
    <div class="row">

            <div class="column">
               
           <img src="/cloth1.png" alt="img" >
           </div>
           <div class="column">
           <img src="/cloth2.png"alt="img">
           </div>
           <div class="column">
           <img src="/cloth3.png" alt="img"><br>
    
                <p> For Workout</p><br>
                    <img src="/My Outfits1 - Default.png">
                    <img src="/My Outfits2 - Default.png">
                </div>
            </div>
    <hr>





    <div class="row">
            <div class="column">
           <img src="/My Outfits3 - Default.png" alt="img">
                <h2> For Office</h2><br>
                 <img src="/My Outfits1 - Default.png">
                 <img src="/My Outfits2 - Default.png">
                </div>
            </div>

            <footer class="center">
                    <div class="row">
                        <div class="column">

                      <a href="../html-link.htm">
                          <img src="/Recommendericon7.png" width="52" height="56"
                           title="img" alt="img"></a>
                           </div>

                       <div class="column">
                           <a href="../html-link.htm">
                              <img src="/Recommender icon1.png" width="52" height="56"
                               title="img" alt="img"></a>
                               </div>
                               

                  
      
                          
                                   <div class="column">
                                <a href="../html-link.htm">
                                 <img src="/cloth5.png" width="52" height="56" title="img"
                                  alt="img"></a>
                                    </div>
                                  </div>
                                  </footer>
                
        </body>
</html>