<html>
    <head>
        <link rel="stylesheet" href="/recommended.css" />
        <body class="center">
                <div class="row">
                        <div class="column">
                       <img src="/cloth.png" alt="img" >
                       </div>
                       <div class="column">
                       <p> Recommened Outfit </p>
                       </div>
                       <div class="column">
                       <img src="/Recommendericon5.png" alt="img">
                       </div>
                   </div>
                   </div>
                </div>    
<hr>
<p><img src="/Recommendericon8.png" alt="img" width="20px" height="25px" >
     A Sunny Day Today  10:00AM </p>
<hr>
<form method="get" action="home">
        <label> Filter by  :</label>
    <input type="checkbox" name="Office" value="Office"> Office
    <input type="checkbox" name="Workout" value="Workout">Workout
  </form>
  <hr>
  <div class="row">
        <div class="column">
       <img src="/cloth1.png" alt="img" >
       </div>
       <div class="column">
       <img src="/cloth2.png"alt="img">
       </div>
       <div class="column">
       <img src="/cloth3.png" alt="img">
       </div>

       <div class="column">
            <img src="/cloth8.png" alt="img" >
            <img src="/cloth8.png" alt="img" ><br>
            <p> For Office</p><br>
            <p> Would you like to wear this today??
                <img src="/My Outfits1 - Default.png">
                <img src="/cloth10.png">
            </p>
            </div>
        </div>
    <hr>


    <div class="row">
        <div class="column">
      <img src="/cloth11png.png" alt="img" >
     </div>
     <div class="column">
     <img src="/cloth2.png"alt="img">
       </div>
     <div class="column">
    <img src="/cloth12png.png" alt="img" >
   </div>
   <div class="column">
    <img src="/cloth13png.png" alt="img" ><br>
    <h2> For Office</h2><br>
    <p> Would you like to wear this today??
        <img src="/cloth9.png">
        <img src="/cloth10.png">
    </p>
    </div>

  

   
        <footer>
                <div class="row">
                 <div class="column">
               <a href="/recommeded">
                   <img src="/Recommendericon7.png" width="52" height="56"
                    title="recommeded" alt="recommeded"></a>
                    </div>

                <div class="column">
                    <a href="/outfit">
                       <img src="/Recommender icon1.png" width="52" height="56"
                        title="outfit" alt="outfit"></a>
                        </div>
                        <div class="column">
                         <a href="/home">
                          <img src="/cloth5.png" width="52" height="56" title="home"
                           alt="home"></a>
                         </div>
                           </div>
                        </footer>
                    </body>
                  </head>
             </html>