<html>
    <head>
        <title>
            Dress Recommender
        </title>
        <link rel="stylesheet" href="/registration.css" />
    </head>
    <body class="center">
    
            <form method="post" action="registration">

        <div>
                        <label for="name"> Name</label>
                        <input type="text" id="name" name="name">
                        </div>
                        <div>
                        <label for="email">Email </label>
                        <input type="text" id="email" name="email">
                        </div>
                        <div>
                     <label for="password">Password</label>
                     <input type="password" id="password" name="password">

                        </div>
                        <div>
                            <input type="submit" class="button" value="Submit">
                        </div>
                            </form>


                      </form>
        
        

    </body>
</html>