<html>
    <head>
        </head>
        
    <link rel="stylesheet" href="/setting.css" />

        <body>
                        
        <div class="row">

             <div class="column">
                
            <img src="/cloth.png" alt="img" width="50px">
            </div>
            <div class="column">
            <h2> Setting</h2>
            </div>
            <div class="column">
            <img src="/Recommendericon5.png" alt="img" width="50px">
            </div>
        </div>

    
                <hr>
<h2>Update setting for better outfit Recommendations </h2><br>
<div>

        <p>
          <label>Reusing Outfit in:</label>
          <select id = "myList">
            <option value = "3Weeks"> 3Weeks</option>
          <option value = "monday"> monday</option>
            <option value = "thu"> Thu</option>
          <option value = "wen"> Wen</option>
               </select>
               
        </p>
</div>

                <div class="footer">
                        <img src="/Recommendericon7.png">
                        <img src="/Recommender icon1.png">
                        <img src="/cloth5.png">
                         </div>
                              
                    
        
        </body>
</html>